{% extends 'base.html' %}

{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ name }}</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<style>
    body {
        background-color: rgb(170, 163, 163);
        color: white;
        
        padding: 1cm;
    }

</style>
<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Item"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}