{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ name }}</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<style>
    body {
        background-color: grey;
        color: white;
        padding: 1cm;
    }
    h1 {
        color: rgb(255, 222, 35);
    }
</style>
    <h1>stockmate</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    {% if messages %}
        <div class="notification">
           {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>
                    <span id="amount-{{ item.id }}">{{ item.amount }}</span>
                    <a href="{% url 'main:add_amount' item.id %}">
                        <button>+</button>
                    </a>
                    <a href="{% url 'main:sub_amount' item.id %}">
                        <button>-</button>
                    </a>
                </td>
                <td>{{item.description}}</td>
                <td>
                    <a href="{% url 'main:edit_item' item.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_item' item.id %}">
                        <button>Hapus</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
{% endblock content %}